<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplication_group</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>TestClass.h</string>
						<string>TestClass.m</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.swift:comments:copyright</string>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:comments:copyright</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>TestClass.swift</string>
						<string>TestClass.swift:comments</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>ViewController.swift:comments:copyright</key>
		<string>//  This software is only to be used for the purpose for which it has been provided. No part of it is to be reproduced,
//  disassembled, transmitted, stored in a retrieval system nor translated in any human or computer language in any way
//  or for any other purposes whatsoever without the prior written consent of ___ORGANIZATIONNAME___.
</string>
		<key>AppDelegate.swift:comments:copyright</key>
		<string>//  This software is only to be used for the purpose for which it has been provided. No part of it is to be reproduced,
//  disassembled, transmitted, stored in a retrieval system nor translated in any human or computer language in any way
//  or for any other purposes whatsoever without the prior written consent of ___ORGANIZATIONNAME___.
</string>
		<key>TestClass.swift:comments</key>
		<string>// TestClass.swift:comments</string>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>TestClass.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>CustomClasses</string>
			</array>
			<key>Path</key>
			<string>TestClass.m</string>
		</dict>
		<key>TestClass.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>CustomClasses</string>
			</array>
			<key>Path</key>
			<string>TestClass.h</string>
		</dict>
		<key>TestClass.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>CustomClasses</string>
			</array>
			<key>Path</key>
			<string>/Users/litengfang/Desktop/TestClass.swift</string>
		</dict>
	</dict>
</dict>
</plist>
